.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(52, 150, 150);
    text-transform: capitalize;
    font-size: larger;
    height: 75px;
  }
.maincnt{
    width: 25%;
    margin: auto;
}
.calc{
    display: flex;
    flex-wrap: wrap;
}
.btn{
    width: 90px;
    height: 90px;
}
.display{
    width: 94%;
    background-color: aliceblue;
    height: 50px;
}
.aboutcnt{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
}


